/*
!/MaxWell-GL/MaxWell-GL
*.ilk
*.ilk
*.tlog
*.idb
*.obj
*.pdb
*.idb
*.tlog
/MaxWell-GL/MaxWell-GL/Lib/STBImage/stb_image.cpp
/MaxWell-GL/MaxWell-GL/Lib/STBImage/stb_image.h
MaxWell-GL/MaxWell-GL/Mesh/Cube.obj
MaxWell-GL/MaxWell-GL/Mesh/Sphere.obj
!RessourceReadme/
/MaxWell-GL/MaxWell-GL/Shaders/Tesselation surface/Surface tessEval_exemple.glsl
